
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  &#login {
    background: url('/img/login-bg.jpg');
    .justify-content-center {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
      height: 100vh;
      display: flex;
      align-items: center;
    }
    .card {
      background-color: #0000005c;
      color: #fff;
      a.btn-link {
        color: #fff;
      }
    }
  }
}
.text-bold {
  font-weight: bold;
}
.dashboard h2 {
    padding: 20px 0;
}
.dashboard .row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.dashboard .row img {
    width: 110px;
    margin-bottom: 20px;
}
.dashboard h2 {
    padding: 20px 0;
    color: #e20000;
}